# Visual Studio / VS Code
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
package-lock.json

# Source / raw assets & working files
assets-src/
*.xcf

