html {
    scroll-behavior:smooth;
    font-family:monospace;
}
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
.noMarginPadding {
    padding: 0;
    margin: 0;
}
section {
    width: 100%;
    position: relative;
}

.mainSection{
    height:800px;
}
.bigMainSection {
    height: 800px;
    margin-bottom: 50px;
}
.container{
    width: 100%;
    background: white;
    position:relative;
}
.navContainer {
    height: auto;
    width: 100%;
    background: white;
    color: #549bcf;
    z-index: 100;
    border-color: lightblue;
    border-bottom: solid 2px;
    transition: height 1.3s ease;
}
.navInnerContainer {
    height: 90px;
    margin: auto;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: height 1.3s ease;
}
.sticky {
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);  
}
.stickyOuter {
    position: fixed;
    min-height: 50px;
}
.center{
    text-align:center;
}
/*dropDown Menu*/
.dropDown {
    display:none;
    overflow: hidden;
    text-align: right;
    width: 100px;
}
.dropDown .dropDownButton {
    width: 100px;
    font-size: 16px;
    text-align: center;
    border: none;
    color: #549bcf;
    background-color: inherit;
    padding-top: 30px;
    padding-bottom: 25px;
    margin: 0;
    transform: scale(1);
    transition: height 1.3s ease;
    }
.dropDownButtonImage {
    width: 30px;
    height: auto;
    margin: auto;
}
.dropDownButton:hover {
    background: #ccf2ff;
}
.dropDownContent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
.dropDownContent a {
    float: none;
    color: #549bcf;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
    .dropDownContent a:hover {
        background-color: #ccf2ff;
    }

/* Show the dropdown menu on hover */
.dropDown:hover .dropDownContent {
    display: block;
}

/*DropDown menu End*/
.logoImage{
    max-width:100%;
    height: auto;
}
.logo {
    width: 200px;
    order: 0;
    transition: width 1.5s ease;
}
.navElements {
    order: 1;
}
ul {
    display: inline-block;
    text-decoration: none;
    text-align:right;
    line-height: 60px;
    max-height: 90px;
    min-width: 600px;
}
li.navList {
    display: inline-block;
    margin-right: 10px;
}
a{
    text-decoration: inherit;
    color: inherit;
}
.button-53 {
    background-color: #549bcf;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.5rem;
    padding: 12px 10px;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 110px;
    position: relative;
    cursor: pointer;
    transform: rotate(-3deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.big {
    margin-top: 25px;
    min-width: 160px;
    padding: 10px 15px;
    background: white;
    color: #549bcf;
    transform: rotate(-2deg);
}

.button-53:focus {
    outline: 0;
}

.button-53:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
     width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}

.imageContainer {
    height: 800px;
    position: relative;
    background-image: url("Bilder/blueBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.startContainer {
    opacity: 0;
    width: 1000px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    background: none;
    text-align: left;
}
.startContainerHeader {
    color: white;
    font-size: 90px;
    margin-top: 40px;
    margin-bottom: 0;
    line-height: 90px;
}
.startContainerText{
    color:white;
    font-size: 20px;
}
.startContainerButton {
    color: white;
    background: lightBlue;
    width: 100px;
    height: 40px;
    border: 0;
}
.backgroundContainer{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}
div.aboutMeContainer {
    opacity: 0;
    width: 1400px;
    height: 800px;
    position: relative;
}
.aboutMePictureContainer {
    position: absolute;
    left: 450px;
    top: 50px;
    width: 900px;
    height: 600px;
    background: #e6f5ff;
    border: solid 5px #88badd;
    z-index: 0;
    overflow: hidden;
}
.textContainer {
    width: 460px;
    height: 460px;
    position: absolute;
    left: 50px;
    top: 100px;
    background: #549bcf;
    z-index: 1;
    padding: 20px;
    color: white;
}
.aboutMeHeader{
    font-size: 40px;
}
.aboutMeText{
    font-size: 14px;
}
.aboutMeButton {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    border: 0;
    background: none;
    text-align:left;
    font-weight: bold;
}
.aboutMeButton:hover{
    cursor: pointer;
    background: lightBlue;
}
#canvas {
    z-index: 99;
    margin: auto;
    display: block;
    position: absolute;
 
}
.projectsContainer{
    opacity: 0;
    width: 1200px;
    height: 700px;
    background: white;
    position: relative;
    margin: auto;
}
.projectsHeaderContainer {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 40px;
    color: #549bcf;
}
.buttonAndSliderContainer {
    width: 100%;
    height: 600px;
    display:flex;
    justify-content: space-evenly;
}
.buttonContainer{
    width: 50px;
    height: 600px;
}
.horizontalButtonContainer{
    width:100%;
    min-height: 100px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    display:none;
}

.sliderContainer {
    width: 1100px;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.sliderElement {
    width: 250px;
    height: 400px;
    background: #f5f5f5;
    position: absolute;
    left: 50px;
    top: 50px;
    box-shadow: 10px 10px 1px lightBlue;
    display: none;
    border: solid 1px lightGray;
}
.imageContainerSlider{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 10px;
}
.textContainerSlider{
    width:200px;
    height: 200px;
    margin:auto;
}
.previousSliderElementButton, .nextSliderElementButton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}
.arrow {
    border: solid lightBlue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left:hover, .right:hover {
    border: solid blue;
    border-width: 0 3px 3px 0;
}
.nextSliderElementButton {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

footer {
    background: #549bcf;
}

.footerContainer{
    width: 1200px;
    height: 250px;
    margin:auto;
}
.upperFooter {
    width: 1200px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;

}

.footerHeader{
    font-weight:900;
    font-size: 30px;
}
.footerSmallHeader {
    font-weight: 600;
    font-size: 15px;
    margin-top: 40px;
}
.footerSmallSection{
    width: 250px;
    height: 200px;
    color: white;
}
    input[type=email] {
        border: 0;
        height: 25px;
        width: 220px;
        margin-top: 10px;
        outline: none;
        border-radius: 4px;
    }
    input[type=email]:focus {
        border: 2px solid lightBlue;
        height: 21px;
        border-radius: 4px;
    }
#emailSubmitButton {
    background: white;
    width: 50px;
    height: 25px;
    color: #549bcf;
    border: 0;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
   opacity: 0.7;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-snapchat {
    background: #e6e600;
    color: white;
}
a.pageContentHolder{
    text-decoration: none;
    color: white;
}
h6.pageContentHolder{
    margin: 10px 0;
}
.pageContentHolder:hover{
     cursor: pointer;
 }

@media only screen and (max-width: 1400px) {
    /*sections*/
    .bigMainSection {
        margin: 0;
        height: auto;
    }
    /*nav*/
    .navInnerContainer{
        width: 1200px;
    }
    /*aboutMeSection*/
    .aboutMeContainer {
        display: flex;
        height: auto;
    }

    .aboutMePictureContainer {
        width: 100%;
        height: 800px;
        top: 0;
        border: 0;
    }
    #canvas {
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: auto;
    }

    .textContainer {
        top: 150px;
    }
    .textContainer {
        opacity: 0.9;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .aboutMePictureContainer {
        left: 50%;
        transform: translate(-50%, 0);
    }
    /*slidesSection*/
    .projectsContainer {
        margin-top: 100px;
    }


}
@media only screen and (max-width: 1200px){
    
    .navContainer {
        width: 100%;
    }
    .navInnerContainer{
        width: 100%;
    }
    /*startSection*/
    .startContainer {
        width: 500px;
        text-align:center;
    }
   
    /*sliderSection*/
    .projectsContainer{
        width:800px;
    }
    .buttonAndSliderContainer{
        width: 800px;
    }
    .sliderContainer {
        width: 700px;
    }
}
@media only screen and (max-width: 900px) {
    
    /*navSection*/
    .navContainer {
        width: 100%;
    }
    .navInnerContainer {
        width: 100%;
    }
    .dropDown{
        display:inline-block;
    }
    .navElements{
        display:none;
    }
    /*startSection*/
    .startContainer {
        width: 100%;
        text-align: center;
    }
    .startContainerHeader{
        font-size: 60px;
        line-height: 0.9;  
    }
   
    /*slidesContainer*/
    .projectsContainer {
        width: 500px;
    }

    .buttonAndSliderContainer {
        width: 500px;
    }

    .sliderContainer {
        width: 400px;
    }
    .footerContainer{
        width: 500px;
    }
    .upperFooter{
        width:500px;
    }
    #thirdFooterLine{
        display:none;
    }
    .footerSmallSection{
        width: 250px;
    }
}
@media only screen and (max-width: 600px) {
    /*sliderSection*/
    .sliderContainer{
        width: 100%;
        min-width: 100px;
    }
}
@media only screen and (max-width: 500px) {
    /*nav*/
    .navContainer {
        width: 100%;
        min-height: 50px;
        transition: height 1s linear;
    }

    .navInnerContainer {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: height 1s linear;
    }
    .dropDown {
        display: inline-block;
    }
    .navElements {
        display: none;
    }
    /*startSection*/
    .startContainerHeader {
        font-size: 60px;
        line-height: 0.9;
    }
    /*aboutMeSection*/
    .backgroundContainer{
        height: auto;
    }
    .textContainer {
        width:100%;
        padding: 10px;
        text-align:center;
    }
    .backgroundContainer{
        height: auto;
    }
    /*sliderSection*/
    .projectsContainer{
        width: 100%;
        height: auto;
    }
    .projectsHeaderContainer{
        width:100%;
        height: auto;
    }
    #sliderHeader{
        font-size: 40px;
    }
    .buttonAndSliderContainer{
        width: 100%;
        height: auto;
        display: block;
    }
    .sliderContainer{
        height:500px;
    }
    .horizontalButtonContainer{
         display:flex;
    }
    .buttonContainer{
         display: none;
    }
    .previousSliderElementButton, .nextSliderElementButton {
        cursor: pointer;
        position: relative;
        top: 0;
        margin-top: 0;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        user-select: none;
    }
     /*footer*/
     .footerContainer{
     width:100%;
     height: auto;
    }
    .upperFooter{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    #firstFooterLine{
        order: 1;
    }
    #secondFooterLine{
        order: 2;
    }
    #thirdFooterLine{
        display:none;
    }
    .footerSmallHeader{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 330px) {
    /*sections*/
    .mainSection {
        height: auto;
    }
    /*nav*/
    .navContainer {
        height: auto;
        min-height: 50px;
    }

    .navInnerContainer {
        height: auto;
        justify-content: space-around;
    }
    /*aboutMeSection*/
    .backgroundContainer{
        height:auto;
    }
    .aboutMeContainer {
        display: flex;
        height: auto;
    }

    .aboutMePictureContainer {
        display: none;
    }

    .textContainer {
        top: 0px;
        opacity: 1;
        width: 100%;
        height: auto;
    }
    /*sliderSection*/
   
    #sliderHeader{
        font-size: 30px;
    }
}
@media only screen and (max-width: 220px) {

    /*nav*/
    .navContainer {
        min-height: 100px;
    }
    /*startSection*/
    .startContainerHeader {
        font-size: 40px;
        line-height: 0.9;
    }
    /*sliderSection*/
    .sliderElement {
        width: 100%;
        height:auto;
    }
    .imageContainerSlider{
        width:100%;
        margin: 20px 0 10px 0;
        height: auto;
    }
    .projectImage{
        width:100%;
        height: auto;
    }
    .textContainerSlider{
        width: 100%;
        height: auto;
    }
    /*footer*/
    .footerSmallSection {
        width: 100%;
    }
    .footerContainer .upperFooter{
        padding-bottom: 30px;
    }
    .fa{
        margin-top: 10px;
    }
    #emailInputLabel {
        display: none;
    }
    #emailInput{
        display:none;
    }
    #emailSubmitButton{
        display: none;
    }
}
/*---------------Second Page---------------------*/
.secondaryLowerContainer {
    width: 100px;
    height: auto;
    border-color: lightblue;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;
}

.secondaryUl{
    padding: 0;
    margin: 0;
    line-height: 18px;
    min-width: 0;
    height: auto;
}
.secondaryNavList {
    display: block;
    width: 110px;
    margin-bottom: 30px;
    color: white;
    background: #549bcf;
    padding: 12px 10px;
    height: 45px;
    margin-left: 20px;
    box-shadow: 10px 10px 0 rgb(230, 250, 255, 0.4);
    font-weight: bold;
    text-align: left;
}
.secondaryNavList:after {
    border: 1px solid #327db3;
}
.twoLiner{
    padding: 2px 10px;
}
.secondaryNavList:hover {
    cursor: pointer;
    font-weight: bold;
    animation: change-color 1s forwards;
}
@keyframes change-color {
    to {
        background: #b3f0ff;
    }
}

#moveableBackground {
    position: absolute;
    left: 150px;
    width: 50px;
    height: 50px;
    z-index: 0;
    opacity: 1;
    border-radius: 2px;
    transform: rotate(180deg);
}
.secondaryBackgroundContainer {
    width: 100%;
    height: auto;
    background:white;
}
.secondaryStartSection {
    background: #88badd; /*#e6f5ff #549bcf*/
    width: 100%;
    position: relative;
    overflow: hidden;
}
#secondaryCanvas {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 90;
    opacity: 0.6;
}
.alignStartSectionParts{
    position: relative;
    width: 1200px;
    height: 900px;
    margin: auto;
}

.middleContainer {
    width: 1000px;
    height: auto;
    margin: auto;
    padding: 200px 0;
    position: relative;
}
.secondaryHeaderContainer {
    width: 1200px;
    height: auto;
    left: 50%;  
    top: 350px;
    transform: translate(-50%, 0);
    text-align: left;
    position: absolute;
    z-index:92;
}
.secondaryHeader {
    font-size: 170px;
    color: white; /*#549bcf*/
    margin: 0;
    padding-left: 50px;
    text-shadow: 10px 10px #9bc5e4;
}
.lowerHeader {
    color: white;
    font-size: 25px;
    padding-left: 50px;
    margin: 0;
}
.scrollButton {
    position: absolute;
    width: 100px;
    height: 100px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    background: white;
    z-index: 94;
    transform: translate(-50%, 0);
}
.scrollButton:hover{
    cursor: pointer;
}
.down {
    left: 1000px;
    top: 475px;
    transform: translate(-50%, -50%); /* Stimmt so nicht muss immer an den punkt von canvas angepasst werden !!!!!!!!!!!!!!!!*/
}
.up {
    bottom: 50px;
    left: 50%;
    background: lightBlue;
}
.imageUp {
    transform: translate(-50%, 0) rotate(-90deg);
}
.imageDown {
    transform: translate(-50%, 0) rotate(90deg);
}
.scrollDownButtonImage {
    position: absolute;
    width: 50px;
    top: 25px;
    height: auto;
    left: 50%;
}
#clickAnimationCanvas {
    position: absolute;
    z-index: 0;
    background: none;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
}
#clickAnimationCanvasUp {
    position: absolute;
    z-index: 0;
    background: none;
    left: 50%;
    transform: translate(-50%, 0) rotate(180deg);
    bottom: -50px;
}
.secondaryContentSection {
    width: 100%;
    height: auto;
    
    display: none;
    overflow: hidden;
}
.secondaryContentContainer {
    width: 1000px;
    height: auto;
    margin: auto;
    transition: height 2s all;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 250px;
}
.secondaryContentHeaderContainer{
    width: 100%;
    height: 150px;
    margin: auto;
}
.secondaryContentHeader {
    font-size: 80px;
    text-align: left;
    text-decoration: underline lightBlue;
    color: #549bcf;
    margin: 0;
}
.secondaryContentLowerHeader {
    font-size: 20px;
    color: #549bcf;
    margin: 10px 0px;
}
.secondaryContentText {
    font-size: 22px;
    color: #549bcf;
    margin-top: 30px;
}
.secondaryContentTextHeader{

}
.withJournyCanvas {
    width: 900px;
    float: right;  
}
.journyCanvas {
    margin-top: 30px;
}

